/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@use "sass:color";
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url("//hello.myfonts.net/count/37b67a");
@font-face {font-family: 'RedRing-Regular';src: url('webfonts/37B67A_0_0.eot');src: url('webfonts/37B67A_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/37B67A_0_0.woff2') format('woff2'),url('webfonts/37B67A_0_0.woff') format('woff'),url('webfonts/37B67A_0_0.ttf') format('truetype');}
@font-face {font-family: 'RedRing-Black';src: url('webfonts/37B67A_1_0.eot');src: url('webfonts/37B67A_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/37B67A_1_0.woff2') format('woff2'),url('webfonts/37B67A_1_0.woff') format('woff'),url('webfonts/37B67A_1_0.ttf') format('truetype');}
@font-face {font-family: 'RedRing-Bold';src: url('webfonts/37B67A_2_0.eot');src: url('webfonts/37B67A_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/37B67A_2_0.woff2') format('woff2'),url('webfonts/37B67A_2_0.woff') format('woff'),url('webfonts/37B67A_2_0.ttf') format('truetype');}
@font-face {font-family: 'RedRing-Light';src: url('webfonts/37B67A_3_0.eot');src: url('webfonts/37B67A_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/37B67A_3_0.woff2') format('woff2'),url('webfonts/37B67A_3_0.woff') format('woff'),url('webfonts/37B67A_3_0.ttf') format('truetype');}
@font-face {font-family: 'RedRing-Medium';src: url('webfonts/37B67A_4_0.eot');src: url('webfonts/37B67A_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/37B67A_4_0.woff2') format('woff2'),url('webfonts/37B67A_4_0.woff') format('woff'),url('webfonts/37B67A_4_0.ttf') format('truetype');}

@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$defaultbg: #fff;
$kicktemp: #009fe3;
$kicktemp: radial-gradient(circle at 56.14% 12.23%,#232b69,transparent 85%),
radial-gradient(circle at 6.01% 1.34%, #4501b3,transparent 25%),
radial-gradient(circle at 75.71% 4.03%,#0a0d66,transparent 34%),
radial-gradient(circle at 99.31% 70.7%,#009fe3,transparent 75%),
radial-gradient(circle at 76.91% 59.14%,#0a0d66,transparent 71%),
radial-gradient(circle at 71.07% 83.33%,#0a0d66,transparent 71%),
radial-gradient(circle at 15.11% 70.43%,#345da9,transparent 64%),
radial-gradient(circle at 65.49% 37.9%,#345da9,transparent 100%),
radial-gradient(circle at 99.4% 93.55%,#009fe3,transparent 100%),
radial-gradient(circle at 50% 50%, #564393,#564393 100%);
$kicktemp: radial-gradient(circle at 60.52% 67.2%,#264697,transparent 41%),radial-gradient(circle at 56.14% 12.23%,#232b69,transparent 85%),radial-gradient(circle at 6.01% 1.34%,#d989b9,transparent 25%),radial-gradient(circle at 75.71% 4.03%,#0a0d66,transparent 34%),radial-gradient(circle at 99.31% 70.7%,#2fd2eb,transparent 75%),radial-gradient(circle at 76.91% 59.14%,#0a0d66,transparent 71%),radial-gradient(circle at 71.07% 83.33%,#0a0d66,transparent 71%),radial-gradient(circle at 15.11% 70.43%,#1556a1,transparent 64%),radial-gradient(circle at 65.49% 37.9%,#3058a5,transparent 100%),radial-gradient(circle at 99.4% 93.55%,#12f7ff,transparent 100%),radial-gradient(circle at 50% 50%,#8f62aa,#8f62aa 100%);
$kicktemp: linear-gradient(40deg, #4501b3 0, #345da9 45%, #2690ca 70%, #15dbf5 100%);
$joomlayellow: #f6b332;
$joomlared: #f6303e;
$joomlablue: #318dde;
$joomlagreen: #76bd1d;
$backgroundColor: $kicktemp;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'RedRing-Bold', Helvetica, sans-serif;
$headingTextShadow: 0px 2px 3px #555;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 400;
$linkColor: #000;
$linkColorHover: color.scale( $linkColor, $lightness: 15% );
$selectionBackgroundColor: color.scale( $linkColor, $lightness: 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#000);

section.shadow {
  &, h1, h2, h3, h4, h5, h6 {
    text-shadow: $headingTextShadow;
  }
}

.noupper {
  text-transform: none !important;
}

body.joomlared {background: $joomlared;}
body.joomlablue {background: $joomlablue;}
body.joomlayellow {background: $joomlayellow;}
body.joomlagreen {background: $joomlagreen;}

html.animationgif .reveal .slide-background
{
  background-size: contain !important;
}

[data-inline] .inline { &, * { color: deepskyblue; }}
[data-inline] .inline.red { &, * { color: red; }}

[data-fragment] .highlight-green.visible { &, * { color: #17ff2e; }}
[data-fragment] .highlight-current-green.current-fragment { &, * { color: #17ff2e; }}
[data-fragment] .highlight-red.visible { &, * { color: #ff2c2d; }}
[data-fragment] .highlight-current-red.current-fragment { &, * { color: #ff2c2d !important; }}
[data-fragment] .highlight-blue.visible { &, * { color: #1b91ff; }}
[data-fragment] .highlight-current-highlight-blue.current-fragment { &, * { color: #1b91ff; }}
[data-fragment] {
  .fade-up,
  .fade-down,
  .fade-left,
  .fade-right,
  .grow
  { display: inline-block; }
}

.slide-background {
  &.overlay-dark20:before,
  &.overlay-dark30:before,
  &.overlay-dark40:before,
  &.overlay-dark50:before,
  &.overlay-dark60:before,
  &.overlay-dark70:before,
  &.overlay-dark80:before {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
  }

  &.overlay-dark20:before {background-color: rgba(34,34,34,0.2)}
  &.overlay-dark30:before {background-color: rgba(34,34,34,0.3)}
  &.overlay-dark40:before {background-color: rgba(34,34,34,0.4)}
  &.overlay-dark50:before {background-color: rgba(34,34,34,0.5)}
  &.overlay-dark60:before {background-color: rgba(34,34,34,0.6)}
  &.overlay-dark70:before {background-color: rgba(34,34,34,0.7)}
  &.overlay-dark80:before {background-color: rgba(34,34,34,0.8)}
}


.reveal a {
  color: white !important;
  text-decoration: underline !important;
  font-style: italic;
}

svg.kicktemp {
  position: fixed;
  bottom: 2em;
  left: 2em;
  width: 250px;
  fill: #fff;
}

html.animationgif svg.kicktemp,
body.hidekick svg.kicktemp {
  display:none;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
